
.view-slideshow {
    
    .view-content {
        width:100%;
    }
    
    // .views-field-title {
    //     position:relative;
    //     background:transparentize(black,.3);
    //     color:white;
    //     top:-120px;
    //     left:30px;
    //     padding:20px;
    //     display:inline-block;
    // }

   

}
main .block-views-blockslideshow-block-1 {
    background:transparent;
}



#block-views-block-slideshow-block-1-2 {
    padding:0;
}

